<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019 Keira Dueck <sylae@calref.net>
  ~ Use of this source code is governed by the MIT license, which
  ~ can be found in the LICENSE file.
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
